@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --cor01:#000000;
    --cor02:#14213D;
    --cor02-shadow: #14213d91;
    /*--cor03:#FCA311;*/
    --cor03:#FFCC00;
    --cor04:#E5E5E5;
    --cor05:#FFFFFF;
    --cor06:#1B2E55;
    /*--cor06:#233A6C;*/
    --cor07: #23272A;
    --cor08: #00E77E;
    --cor-predominante01:#14213D;
    --cor-predominante02:#1B2E55;
    --cor-suporte01:#14213D;
    --cor-destaque01:#FFCC00;
    --fonte-principal: 'Poppins', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
*::selection{
    background-color: var(--cor-destaque01);
}
html body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-predominante01);
    min-height: 100vh;
    color: var(--cor04);
}
.destaque{
    color: var(--cor-destaque01);
}
.riscado{
    text-decoration: line-through;
}
.sublinhado{
    text-decoration: underline;
}
.config-h2{
    color: var(--cor04);
    text-align: center;
    font-size: 32px;
    padding: 20px;
}
.espaco-teste{
    min-height: 70vh;
}
/*-------Main-start-------*/
main{
    min-height: 100vh;
    background-image: url(../imagens/logo/logo-s-opac-3.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: 10%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
/*-------Introduction-start-------*/
.title-programa{
    width: 100%;
    margin: 0 -20px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: var(--cor-predominante01);
    position: fixed;
}
.title-img{
    display: flex;
    justify-items: center;
}
.title-img img{
    width: 50px;
    margin-left: 8vw;
}
.title-title{
    margin: auto;
    padding: 0 20px;
}
/*-------Introduction-end-------*/
/*-------Botão-WhatsApp-start-------*/
.whatsapp-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}
.whatsapp-btn:hover{
    background-color: #5cd488;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.288);
}
#material-icons-personalization{
    font-size: 30px;
}
/*-------Botão-WhatsApp-end-------*/
/*-------Main-end-------*/
/*-------Mídias-start-------*/
@media(max-width: 650px){
    .title-programa{
        flex-direction: column;
    }
    .title-img img{
        margin-left: 0;
    }
    .title-programa{
        position: relative;
    }
}
/*-------Mídias-end-------*/
/*-------Footer-start-------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 120px;
    padding: 10px;
    color: var(--cor04);
    text-align: center;
    background-color: var(--cor07);
}
/*-------Footer-end-------*/