@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --cor01:#000000;
    --cor02:#14213D;
    --cor02-shadow: #14213d91;
    /*--cor03:#FCA311;*/
    --cor03:#FFCC00;
    --cor04:#E5E5E5;
    --cor05:#FFFFFF;
    --cor06:#1B2E55;
    /*--cor06:#233A6C;*/
    --cor07: #23272A;
    --cor08: #00E77E;
    --cor-predominante01:#14213D;
    --cor-predominante02:#1B2E55;
    --cor-suporte01:#14213D;
    --cor-destaque01:#FFCC00;
    --fonte-principal: 'Poppins', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
*::selection{
    background-color: var(--cor-destaque01);
}
html body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-predominante01);
    min-height: 100vh;
    color: var(--cor04);
}
.destaque{
    color: var(--cor-destaque01);
}
.riscado{
    text-decoration: line-through;
}
.config-h2{
    color: var(--cor04);
    text-align: center;
    font-size: 32px;
    padding: 20px;
}
.espaco-teste{
    min-height: 70vh;
}
/*-------Introdução-start-------*/
.bloco-introducao{
    background-color: var(--cor-predominante01);
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}
.introducao{
    padding: 20px;
    padding-left: 100px;
    padding-top: 30px;
    color: var(--cor04);
}
.introducao h1{
    font-size: 56px;
    padding: 20px 0 0;
    font-variant: small-caps;
    line-height: 48px;
    text-shadow: -1px 1px 2px var(--cor-destaque01);
}
.introducao-texto-h1{
    padding-bottom: 48px;
    font-size: 20px;
}
.introducao-texto-maior{
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 20px;
}
.introducao-texto{
    padding: 20px;
    margin: 15px 0 0 0;
    font-size: 20px;
    border-left: 8px solid var(--cor-destaque01);
}
.introducao-img-tablet{
    display: none;
}
.introducao-img{
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}
.bloco-introducao img{
    border-radius: 8%;
    animation: float 6s ease-in-out infinite;
}
@keyframes float{
    0%,100%{
        box-shadow: 0 3px 3px var(--cor-predominante02);
        transform: translateY(0) rotate(0);
    }
    50%{
        box-shadow: 10px 20px 9px var(--cor-predominante02);
        transform: translateY(-20px) rotate(5deg);
    }
}
/*-------Introdução-end-------*/
/*-------Desenvolvimento-shadow-start-------*/
.introducao-desenvolvimento-shadow{
    min-height: 100px;
    background: linear-gradient(to bottom, var(--cor-predominante01), var(--cor-predominante02)) ;
}
/*-------Desenvolvimento-shadow-end-------*/
/*-------Vídeo-start-------*/
.video{
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--cor-predominante02);
}
.bloco-video-iframe{
    width: 60%;
    padding: 30px;
}
.video-iframe{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    border: 1px solid var(--cor-predominante01);
    box-shadow: 0 0 20px var(--cor-predominante01);
}
.video-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-btn01{
    margin: auto;
    display: flex;
    justify-content: center;
}
/*-------Vídeo-end-------*/
/*-------Desenvolvimento-shadow-start-------*/
.video-desenvolvimento-shadow{
    min-height: 100px;
    background: linear-gradient(to top, var(--cor-predominante01), var(--cor-predominante02)) ;
}
/*-------Desenvolvimento-shadow-end-------*/
/*-------Para-Quem-start-------*/
.para-quem{
    padding: 20px;
    color: var(--cor04);
    background-image: url(../imagens/logo/logo-s-opac-3.png);
    background-position: center center;
    background-size: 10%;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para-quem-ul{
    width: 88%;
}
.para-quem-bloco-ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.para-quem-bloco-ul-organizacao{
    display: flex;
    align-items: center;
    padding: 20px;
}
.para-quem ul{
    list-style: none;
    font-size: 24px;
    line-height: 28px;
}
.verified{
    color: var(--cor-destaque01);
    padding: 0 15px;
}
/*-------Para-Quem-end-------*/
/*-------Desenvolvimento-shadow-start-------*/
.aprender-desenvolvimento-shadow{
    min-height: 100px;
    background: linear-gradient(to bottom, var(--cor-predominante01), var(--cor-predominante02)) ;
}
/*-------Desenvolvimento-shadow-end-------*/
/*-------Aprender-start-------*/
.aprender{
    background-color: var(--cor-predominante02);
    background-image: url(../imagens/perfil/perfil-01-opaci-10.png);
    background-position: top left;
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aprender-culunas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.aprender-coluna{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--cor02-shadow);
    padding: 20px;
    max-width: 30%;
    min-height: 650px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px var(--cor-predominante01);
    transition: transform, box-shadow, .6s;
}
.aprender-coluna:hover{
    transform: scale(105%);
    box-shadow: 0px 10px 5px var(--cor-predominante01);
    background-color: var(--cor02);
}
.aprender-bloco-ul-organizacao{
    display: flex;
    align-items: center;
    padding: 15px;
}
#done{
    font-size: 30px;
    font-weight: bolder;
    padding-right: 15px;
    color: var(--cor08);
}
.aprender ul{
    list-style: none;
    font-size: 20px;
    line-height: 27px;
    color: var(--cor04);
}
/*-------Aprender-end-------*/
/*-------Depoimentos-start-------*/
.depoimentos{
    display: block;
}
.depoimentos-conteudo{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.depoimentos-conteudo-texto{
    width: 800px;
}
.depoimentos p{
    font-size: 20px;
    text-align: center;
    padding: 0 50px;
}
/*-------Depoimentos-end-------*/
/*-------Desenvolvimento-shadow-start-------*/
.informacao-desenvolvimento-shadow{
    min-height: 100px;
    background: linear-gradient(to bottom, var(--cor-predominante01), var(--cor-predominante02)) ;
}
/*-------Desenvolvimento-shadow-end-------*/
/*-------Informação-start-------*/
.bloco-informacao-evento{
    background-color: var(--cor-predominante02);
}
.informacao-evento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bloco-informacao-evento-texto{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 20px;
}
.informacao-evento-texto{
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: start;
}
#material-icons-informacao{
    color: var(--cor-destaque01);
    padding: 0 10px 0 30px;
    font-size: 32px;
    font-weight: bolder;
}
.informacao-evento-localizacao{
    margin: 30px;
}
.informacao-evento-localizacao-iframe{
    border: 2px solid var(--cor-destaque01);
    box-shadow: 0 0 8px var(--cor-destaque01);
}
/*-------Informação-end-------*/
/*-------Desenvolvimento-shadow-start-------*/
.biografia-desenvolvimento-shadow{
    min-height: 100px;
    background: linear-gradient(to top, var(--cor-predominante01), var(--cor-predominante02)) ;
}
/*-------Desenvolvimento-shadow-end-------*/
/*-------Biografia-start-------*/
.biografia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.biografia-titulo-mobille{
    display: none;
}
.biografia-img img{
    padding: 20px;
    width: 400px;
}
.biografia-conteudo p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    padding-top: 0;
}
.icones-redes-sociais{
    display: flex;
    justify-content: center;
}
.icones-redes-sociais img{
    width: 80%;
}
.youtube img{
    width: 110%;
}
/*-------Biografia-end-------*/

/*-------X-start-------*/
/*-------X-end-------*/

/*-------Botão-MercadoPago-start-------*/
.btn01{
    width: 300px;
    height: 65px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-predominante01);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: bolder;
    background-color: var(--cor-destaque01);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.418);
    transition: 0.3s;
    outline: none;
}
.bloco-btn01{
    margin: 15px 0;
}
.btn01:hover{
    cursor: pointer;
    color: var(--cor-predominante02);
    box-shadow: 2px 2px 5px var(--cor-destaque01);
}
/*-------Botão-MercadoPago-end-------*/
/*-------Botão-WhatsApp-start-------*/
.whatsapp-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}
.whatsapp-btn:hover{
    background-color: #5cd488;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.288);
}
#material-icons-personalization{
    font-size: 30px;
}
/*-------Botão-WhatsApp-end-------*/

/*-------Footer-start-------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 120px;
    padding: 10px;
    color: var(--cor04);
    text-align: center;
    background-color: var(--cor07);
}
/*-------Footer-end-------*/

/*-------Mídias-start-------*/
@media(max-width: 950px){/*Tablet*/
    /*-------Introdução-start-------*/
    .bloco-introducao{
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .introducao{
        padding: 20px;
    }
    .introducao-texto-h1{
        padding-bottom: 10px;
    }
    .introducao-texto{
        font-size: 15px;
        min-height: 80px;
    }
    .introducao-img-tablet{
        display: block;
        padding: 20px;
    }
    .introducao-img-tablet img{
        width: 200px;
    }
    .introducao-img{
        display: none;
    }
    .introducao-texto-maior{
        font-size: 30px;
        line-height: 35px;
    }
    .introducao-texto-maior-img{
        display: flex;
        align-items: center;
    }
    /*-------Introdução-end-------*/
    .aprender-coluna{
        max-width: 80%;
        min-height: 10px;
    }
    .bloco-video-iframe{
        width: 80%;
        padding: 20px;
    }
    .aprender{
        background-size: 50%;
    }
}
@media(max-width: 800px){/*Tablet*/
    .bloco-video-iframe{
        width: 90%;
        padding: 30px;
    }
    .aprender-culunas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .biografia-img img{
        padding: 20px;
        padding-right: 30px;
        width: 300px;
    }
    .introducao-desenvolvimento-shadow{
        min-height: 60px;
    }
    .video-desenvolvimento-shadow{
        min-height: 70px;
    }
    .aprender-desenvolvimento-shadow{
        min-height: 70px;
    }
    .informacao-evento{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .informacao-evento-texto{
        padding-top: 10px;
    }
}
@media(max-width: 700px){/*Mobille*/
    .biografia{
        display: flex;
        flex-direction: column;
    }
    .biografia-titulo-desktop{
        display: none;
    }
    .biografia-titulo-mobille{
        display: block;
    }
    .biografia-titulo-mobille h2{
        padding-bottom: 0;
    }
    .biografia-img img{
        padding: 0 20px;
        width: 400px;
    }
    .aprender{
        background-size: 70%;
    }
}
@media(max-width: 550px){/*Mobille*/
    .introducao-texto-maior-img{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .biografia-img img{
        padding: 0 20px;
        width: 90%;
    }
    .biografia-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bloco-video-iframe{
        width: 100%;
        padding: 10px;
    }
    .bloco-btn01{
        display: flex;
        justify-content: center;
    }
    .aprender{
        background-size: 75%;
    }
    .introducao-texto-maior{
        padding: 15px 0 30px 0;
    }
    .para-quem-ul{
        width: 100%;
    }
}
/*-------Mídias-end-------*/